<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Crea la tua nuova categoria</title>
<link th:replace="~{fragment :: head}"></link>
</head>
<body>


	<!-- FORM PER LA CREAZIONE DI UNA NUOVA CATEGORIA -->
	<div class="row mt-5">
		<div class="col-md-8 mx-auto">
			<form id="categoria-form" th:object="${categoria}"
				th:action="@{/categorie/edit/{id} (id=${categoria.id})}"
				class="card border p-3" method="post">

				<!--       MOSTRO I MESSAGGI DELLE VALIDAZIONE -->
				<ul>
					<li th:each="err : ${#fields.allErrors()}" th:text="${err}"
						class="text-danger"></li>
				</ul>

				<!--    CREA NOME CATEGORIA -->
				<div class="form-row">
					<div
						class="form-group d-flex flex-column flex-md-row justify-content-between align-items-baseline col-12 col-md-12">
						<label for="nomeCategoria"
							class="col-form-label text-lg-right fs-5 mb-0"
							style="margin-right: 10px;">Modifica Categoria:</label> 
						<input
							id="nomeCategoria" th:field="*{nomeCategoria}" type="text"
							class="form-control form-control-sm ml-2" style="width: 70%"
							placeholder="Inserisci il nome della Categoria">
					</div>
				</div>


				<!-- BOTTONE PER TORNARE ALLA PAGINA CATEGORIE -->
				<div
					class="form-row justify-content-center d-flex ">
					<div class="form-group mx-2 my-3">
						<button class="btn btn-danger btn-sm" th:href="@{/categorie}"
							type="submit">Annulla</button>
					</div>
					<div class="form-group mx-2 my-3">
						<button class="btn btn-danger btn-sm" type="submit">Salva</button>
					</div>
				</div>
			</form>

			<!-- BOTTONE PER TORNARE ALLA HOMEPAGE -->
			<a class="btn btn-primary btn-sm text-white"
				style="background-color: red; border: 2px solid black;"
				th:href="@{/}"> <i class="bi bi-arrow-left"></i>Homepage
			</a>
			
		</div>
	</div>
	<div th:replace="~{fragment :: script}"></div>
</body>
</html>