<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Modifica la tua Foto</title>
<link th:replace="~{fragment :: head}"></link>
</head>
<body>




<!-- FORM PER LA MODIFICA DI UNA NUOVA FOTO -->
<div class="row mt-5">
  <div class="col-md-8 mx-auto">
    <form id="foto-form" th:object="${foto}" th:action="@{/foto/edit/{id} (id=${foto.id})}" method="post" class="card border p-3">
      
<!--       MOSTRO I MESSAGGI DELLE VALIDAZIONE -->
		<ul>
			<li th:each="err : ${#fields.allErrors()}" th:text="${err}"
					class="text-danger"></li>
		</ul>
	  
<!--       TITOLO -->
      <div class="form-row">
			<div class="form-group d-flex flex-column flex-md-row justify-content-between align-items-baseline col-12 col-md-12">
    			<label for="titolo" class="col-form-label text-lg-right fs-5 mb-0" style="margin-right: 10px;">Titolo:</label>
    			<input id="titolo" th:field="*{titolo}" type="text" class="form-control form-control-sm ml-2" style="width: 70%" placeholder="Inserisci il titolo">
			</div>
       </div>
       
<!--        DESCRIZIONE -->
       <div class="form-row">
	        <div class="form-group d-flex flex-column flex-md-row justify-content-between align-items-baseline col-12 col-md-12">
    			<label for="descrizione" class="col-form-label text-lg-right fs-5 mb-0" style="margin-right: 10px;">Descrizione:</label>
    			<input id="descrizione" th:field="*{descrizione}" type="text" class="form-control form-control-sm ml-2" style="width: 70%" placeholder="Inserisci la descrizione">
			</div>
      </div>
      
<!--       URL -->
      <div class="form-row">
	        <div class="form-group d-flex flex-column flex-md-row justify-content-between align-items-baseline col-12 col-md-12">
    			<label for="url" class="col-form-label text-lg-right fs-5 mb-0" style="margin-right: 10px;">Foto:</label>
    			<input id="url" th:field="*{url}" type="url" class="form-control form-control-sm ml-2" style="width: 70%" placeholder="Inserisci l'url della foto">
			</div>
      </div>
      
   <!--       TAG -->        
      <div class="form-row">
	        <div class="form-group d-flex flex-column flex-md-row justify-content-between align-items-baseline col-12 col-md-12">
    			<label for="tag" class="col-form-label text-lg-right fs-5 mb-0" style="margin-right: 10px;">Tag:</label>
    			<input id="tag" th:field="*{tag}" type="text" class="form-control form-control-sm ml-2" style="width: 70%" placeholder="Inserisci il tag">
			</div>
	  </div>
	  


<!-- <!-- FORM CATEGORIA --> 
 	<div class="form-row">
  		<label for="tag" class="col-form-label text-lg-right fs-5 mb-0" style="margin-right: 10px;">Categorie:</label>
		<div class="d-flex flex-wrap">
  			<div th:each="categoria : ${categorieLista}" class="form-group col-6 col-sm-4 col-md-2">
   		 		<input type="checkbox" class="form-check-input" 
      			th:value="${categoria.id}" th:field="*{categorie}"
      			th:id="${'categoria' + categoria.id}">
    			<label class="form-check-label" 
      			th:text="${categoria.nomeCategoria}" th:for="${'categoria' + categoria.id}"></label>
 			 </div>
		</div>
	</div>
			
	



	  	  
<!--  INPUT RADIO			 -->
	<div class="btn-group-toggle mt-4" data-toggle="buttons">
  		<label class="btn btn-primary text-white" th:classappend="${visibile} == true ? 'active' : ''">
    		<input type="radio" name="visibile" th:field="*{visibile}" value="1"> Visibile
    	</label>
  		<label class="btn btn-primary text-white" th:classappend="${visibile} == false ? 'active' : ''">
    		<input type="radio" name="visibile" th:field="*{visibile}" value="0"> Non visibile
  		</label>
	</div>


	

		

<!-- BOTTONE PER SALVARE -->
      <div class="form-group  row">
        <div class="col-sm-9 offset-sm-3 mt-3 text-center">
          <button class="btn btn-danger btn-sm mx-auto" type="submit">Salva</button>
        </div>
      </div>
      
     
	  
    </form>
    <!-- BOTTONE PER TORNARE ALLA HOMEPAGE -->
          <a class="btn btn-primary btn-sm text-white" style="background-color: red; border: 2px solid white;" th:href="@{/foto}">
  			<i class="bi bi-arrow-left"></i>Homepage
  		  </a>
  </div>
</div>
	<div th:replace="~{fragment :: script}"></div>
</body>
</html>