<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link th:replace="~{fragment :: head}"></link>
</head>
<body>

	<h3 class="text-italic text-primary">La mia galleria:</h3>

<!-- FORM DI COMPILAZIONE PER LA RICERCA DELLE FOTO TRAMITE IL TITOLO -->
	<div class="row mt-5">
  		<div class="col-md-12 ">
    		<form action="foto" class="d-flex justify-content-around " method="get">
      			<div class="d-flex ">
        			<input type="text" class="form-control bg-white text-dark border-dark rounded-0" placeholder="Cerca tra le foto" name="keyword" style="color: white;">
        			<button class="btn btn-danger border-dark" type="submit">Cerca</button>
        		</div>	
        		<!-- FORM DI COMPILAZIONE PER LA RICERCA DELLE FOTO TRAMITE IL TAG -->
        		<div class=" d-flex ">
        			<input type="text" class="form-control bg-white text-dark border-dark rounded-0"  placeholder="Cerca tra i #tag" name="tag" style="color: white;">
        			<button class="btn btn-danger border-dark" type="submit" >Cerca</button>
      			</div>
    		</form>
  		</div>
	</div>

<!-- LAYOUT PER VISUALIZZARE LE FOTO PRESENTI -->
 <div class="container">
   <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 mt-5">
    <div th:each="foto : ${ElencoFoto}" class="col mb-3">
      <div class="card text-bg-primary h-100 d-flex">
        <img th:src="${foto.url}" class="card-img-top img-fluid h-75 object-fit-cover" alt="...">
        <h5 th:text="${foto.titolo}" class="card-title"></h5>
			<div class="d-flex justify-content-center mt-2  flex-wrap align-items-center">
  				<a class="btn btn-primary text-white m-2 flex-grow-1" style="background-color: red; border: 2px solid white;" 					
  				th:href="@{'foto/' + ${foto.id}}">
    				<i class="bi bi-arrow-left"></i>Visualizza i Dettagli
  				</a>
  				<a class="btn btn-primary text-white m-2 flex-grow-1" style="background-color: red; border: 2px solid white;" 					
  				th:href="@{/foto/edit/{id} (id=${foto.id})}">
    				<i class="bi bi-arrow-left"></i>Modifica la Foto
  				</a>
  				<form action="#" th:action="@{/foto/delete/{id} (id=${foto.id})}" method="post"  >
  					<button class="btn btn-primary text-white m-2 flex-grow-1" style="background-color: red; border: 2px solid white;">
    					<i class="bi bi-arrow-left"></i>Elimina la Foto
  					</button>
  				</form>	
			</div>
      </div>
    </div>
  </div>
</div>



<!-- LINK COLLEGAMENTO PER /FOTO/CREATE -->
	<a class="btn btn-primary btn-sm text-white m-5" style="background-color: red; border: 2px solid black; margin-left: 10px; margin-right: 10px;"th:href="@{/foto/create}">
    <i class="bi bi-arrow-left"></i>Inserisci una nuova foto</a>

	<div th:replace="~{fragment :: script}"></div>
</body>
</html>