<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>La mia Galleria</title>
<link th:replace="~{fragment :: head}"></link>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand text-danger" href="/">HOME</a>
        <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
            <ul class="navbar-nav ms-4">
                <li class="nav-item">
                    <a class="nav-link" href="/foto/create">CREA FOTO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categorie">CATEGORIE</a>
                </li>
            </ul>
            <form class="d-flex justify-content-center align-items-center">
                <div class="input-group">
                    <input class="form-control bg-white text-dark border-dark rounded-0" type="search" placeholder="Cerca tra le foto" aria-label="Cerca tra le foto" name="keyword">
                    <button class="btn btn-danger border-dark" type="submit">SEARCH TITLE</button>
                </div>
                <div class="input-group ms-3">
                    <input class="form-control bg-white text-dark border-dark rounded-0" type="search" placeholder="Cerca tra i #tag" aria-label="Cerca tra i #tag" name="tag">
                    <button class="btn btn-danger border-dark" type="submit">CERCA #</button>
                </div>
            </form>
        </div>
    </div>
</nav>




	<!-- LAYOUT PER VISUALIZZARE LE FOTO PRESENTI -->
 <div class="container">
   <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 mt-5">
    <div th:each="foto : ${ElencoFoto}" class="col mb-3">
      <div class="card text-bg-primary h-100 d-flex">
        <img th:src="${foto.url}" class="card-img-top img-fluid h-75 object-fit-cover" alt="...">
        <h5 th:text="${foto.titolo}" class="card-title"></h5>
			<div class="d-flex justify-content-center mt-2  flex-wrap align-items-center">
  				<a class="btn btn-primary text-white m-2 flex-grow-1" style="background-color: red; border: 2px solid white;" 					
  				th:href="@{'foto/' + ${foto.id}}">
    				<i class="bi bi-arrow-left"></i>Visualizza i Dettagli
  				</a>
  				<a class="btn btn-primary text-white m-2 flex-grow-1" style="background-color: red; border: 2px solid white;" 					
  				th:href="@{/foto/edit/{id} (id=${foto.id})}">
    				<i class="bi bi-arrow-left"></i>Modifica la Foto
  				</a>
  				<form action="#" th:action="@{/foto/delete/{id} (id=${foto.id})}" method="post" onsubmit="return confirm('Sei sicuro di voler eliminare questa foto?');" >
  					<button class="btn btn-primary text-white m-2 flex-grow-1" style="background-color: red; border: 2px solid white;">
    					<i class="bi bi-arrow-left"></i>Elimina la Foto
  					</button>
  				</form>	
			</div>
      </div>
    </div>
  </div>
</div>



<!-- LINK COLLEGAMENTO PER /FOTO/CREATE -->
	<a class="btn btn-primary btn-sm text-white m-5" style="background-color: red; border: 2px solid black; margin-left: 10px; margin-right: 10px;"th:href="@{/foto/create}">
    <i class="bi bi-arrow-left"></i>Inserisci una nuova foto</a>

	<!-- 	LINK COLLEGAMENTO PER /CATEGORIA/CREATE -->
	<a class="btn btn-primary btn-sm text-white m-5"
		style="background-color: red; border: 2px solid black; margin-left: 10px; margin-right: 10px;"
		th:href="@{/categorie/create}"> <i class="bi bi-arrow-left"></i>Inserisci
		una nuova categoria
	</a>
	
	<div th:replace="~{fragment :: script}"></div>
</body>
</html>